@model BookAuthor.Models.Chapter
@{
    ViewBag.Title = "Deleting the chapter";
}
<head>
    <link href="@Url.Content("~/wwwroot/css/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body class="gradient">
    <div>
        <dl class="dl-horizontal">
            <dt class="text-white">Name of the chapter to be deleted:</dt>
            <dd class="text-white">
                @Html.DisplayFor(model => model.Title)
            </dd>
        </dl>
    </div>
    <div>
        <form asp-controller="Chapter" asp-action="DeleteChapter" method="post">
            <div class="form-group ">
                <input type="submit" class=" btn btn-dark" value="Delete" />
            </div>
        </form>
    </div>
</body>
