
@model BookAuthor.Models.Chapter

@{
    ViewBag.Title = "Chapter Content Editing";
}
<head>
    <link href="@Url.Content("~/wwwroot/css/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body class="gradient">
    <form asp-action="EditChapterContent" asp-controller="Chapter" asp-route-id="@Model.Id">
        <div class="form-group p-1">
            <label asp-for="Content" class="control-label p-1 text-white"></label>
            <textarea asp-for="Content" rows="100" cols="140"></textarea>
        </div>
        <div class="form-group p-1">
            <input type="submit" class="btn btn-dark" value="Save" />
        </div>
    </form>
</body>
